<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sándor</title>
</head>
<body>
<div>
  <div>
    <form action="#" th:action="@{/login}" method="post" th:object="${user}">
      <label>Felhasználónév:</label>
      <input type="text"><br>
      <label>Jelszó:</label>
      <input type="password"><br>
      <label>Hallgató:</label>
      <input type="radio" value="hallgato" name="radiobutton" checked="" th:field="*{type}"><br>
      <label>Tanár:</label>
      <input type="radio" value="tanar" name="radiobutton" th:field="*{type}"><br>
      <button type="submit" value="belepes">Belépés</button>
      </form>
    </div>
</div>
</body>
</html>